DATABASE_URL=YOUR_POSTGRESQL_DATABASE_URL
JWT_SECRET_KEY = YOUR_JWT_SECRET
TOKEN_EXPIRE_TIME = 15
VERIFICATION_URL = http://localhost:8080/api/v1
EMAIL_USER = YOUR_EMAIL
EMAIL_PASSWORD = YOUR_EMAIL_PASSWORD
REDIS_HOST = localhost
REDIS_PORT = 6379
EMAIL_JOB_CONCURRENCY = 5
APP_URL = http://localhost:8080
PHASE = DEVELOPMENT